

body {
    background-image: url(../images/Aurora-seen-from-a-cave-in-Norway.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    

}

.container {
    width: 100%;
}

.main {
    width: 100%;
    padding: 2px;
}

.jumbotron {
    width: 100%;
}


h1 {
    text-align: center;
    color: #fff;
}

.navbar {

    width:100%;
    margin-bottom: 20px;
    

}

.content {
    width: 100%;
    height: 800px;
    margin: 0;
    color: #ffffff;
    /* background-color: #fff; */
    overflow: none;
}

p {
    /* background-color: #fff; */
    line-height: normal;
    margin-bottom: 0;
}


.box-1 {
    height: 160px;
    width: 100%;
    background-color: #a35555;
    padding: 40px 40px 40px 40px;
}

h2 {
    text-align: center;
}

#text-centered {
    font-size: 2.5rem;
    text-align: center;
}

.pbackground {
    color: #000000;
    background-color: rgb(83, 225, 235);
    opacity: .4;
    text-align: center;
    
}

.mid {
    margin-top: 10px;
}


img[alt*="redGem"] {
    height: 200px;
    width: 200px;
    float: left;
    margin: 6px;
}


img[alt*="greenGem"] {
    height: 200px;
    width: 200px;
    background-color: #fff;
    float: left;
    margin: 6px;
}

img[alt*="blueGem"] {
    height: 200px;
    width: 200px;
    float: left;
    margin: 6px;
}


img[alt*="blueDiamond"] {
    height: 200px;
    width: 200px;
    float: left;
    margin: 6px;
}


.images:hover {
    transform: scale(1.2);
}



.gems {
    margin-top: 40px;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
   
}

@media screen and (max-width: 768px) {

    .images {
        height: 190px;
        width: 190px;
        overflow: none;
        padding: 0;
    }
    
    
    img[alt*="redGem"] {
        height: 100%;
        width: 100%;
    }
    
    
    img[alt*="greenGem"] {
        height: 100%;
        width: 100%;
    }
    
    img[alt*="blueGem"] {
        height: 100%;
        width: 100%;
    }
    
    
    img[alt*="blueDiamond"] {
        height: 100%;
        width: 100%;
    }

    .pbackground {
       display: none;
    }

}

